Hey <%= @person %>,

<%= @name %> has shared a mixtape with you! </h1></td>

Your friend <%= @name %> created a mixtape called <%= @mix_name %> just for you! 

Follow this link to view their message and play the playlist using Spotify: <%= @link %> 
They created the mixtape using 
Mixmatic - a fun new way to create and share mixtapes with your friends.

Thanks for listening :)
