<h1>Listing mixes</h1>

<table>
  <tr>
    <th>User</th>
    <th>Spotify url</th>
    <th>Message</th>
    <th>Public</th>
    <th>Password</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mixes.each do |mix| %>
  <tr>
    <td><%= mix.user_id %></td>
    <td><%= mix.spotify_url %></td>
    <td><%= mix.message %></td>
    <td><%= mix.public %></td>
    <td><%= mix.password %></td>
    <td><%= mix.name %></td>
    <td><%= link_to 'Show', mix %></td>
    <td><%= link_to 'Edit', edit_mix_path(mix) %></td>
    <td><%= link_to 'Destroy', mix, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mix', new_mix_path %>
