<div class="container <%= controller_name %>-<%=action_name %>">
	<br><br><br><br><br>
	<div class="slogan-right">Make mixtapes for your friends</div>
	<%= link_to image_tag("logo.png"), "/" %>
	<div class="column-1-new">
		<div class="rounded pistachio-top">
			You're just seconds away from sending your mix
		</div>
		<div class="rounded white">
			<h1>1. Mix Info</h1>
			<div class="indent">
			<%= form_for(@mix) do |f| %>
			  <% if @mix.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@mix.errors.count, "error") %> prohibited this mix from being saved:</h2>

			      <ul>
			      <% @mix.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

			  <div class="field">
			    Spotify URI<br />
			    <%= f.text_field :spotify_url %>
				<span class="little-linky"><%= link_to "How do I find this?", "#inline-1", :rel => "prettyPhoto" %>
					<div id="inline-1" style="display: none;">
						<br>
						<p><h2>How To Find Your Playlist URI</h2></p>
						<p>It's really easy! All you have to do is find the playlist in Spotify (it will be on the left navigation bar) and right click it. On the resulting menu just click "Copy Spotify URI".</p> <p>Click <%= link_to "here", "/assets/screenshot.png" %>  for a screenshot in case you're unsure. </p>
											
						
					</div>
			  </span>
			  </div>
			  <div class="field">
			    Mix title<br />
			    <%= f.text_field :name %>
			  </div>
			  <div class="field">
			    Mix description<br />
			    <%= f.text_area :message, :rows => 8 %>
			  </div>
			</div>
			  
			  
		</div>
		
	</div>
	
	<div class="column-2-new">
		<div class="rounded white off-top">
			<h1>2. Recipient info </h1>
			<div class="indent">
				<div class="field">
					Recipient first name
					<%= f.text_field :recipient_name %>
				</div>
				<div class="field">
					Recipient email address
					<%= f.text_field :recipient_email %>
				</div>
			</div>
			<% unless user_signed_in? %>
			<h1> 3. Login info </h1>
				<div class="indent">
					<div class="field">
						Your first name
						<%= text_field_tag :first_name %>
					</div>
					<div class="field">
						Your email address
						<%= text_field_tag :email_address %>
					</div>
					<div class="field">
						Choose a password
						<%= password_field_tag :password %>
					</div>
				</div>
			<% end %>
		</div>
		<div class="actions">
		    <%= f.submit %>
		  </div>
		<% end %>
		
	</div>
	
	
	
	<%= render "shared/footer" %>
</div>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$("a[rel^='prettyPhoto']").prettyPhoto();
	});
</script>


